<div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" id="{{myid}}" datepicker-popup="{{format}}" ng-model="model" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div> 
